<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="resourceReader" class="ru.otus.homework.model_1_1.utils.ResourceReaderImpl">
        <constructor-arg  name="resourceName" value="questions/questions.csv" />
    </bean>

    <bean id="questionService" class="ru.otus.homework.model_1_1.service.QuestionServiceImpl">
        <constructor-arg  name="resourceReader" ref="resourceReader"/>
    </bean>

</beans>